@using PMT.Services;
@model Story;

@{
  ViewData["Title"] = "Agile Outline";
}

<script type="text/javascript" src="/js/Agile/timeline.js"></script>

<div class="title-wrap">
  <h1>Timeline</h1>
</div>
