@using PMT.Services;
@model Project;

@{
  ViewData["Title"] = "Project Dash";
}

<script type="text/javascript" src="/js/Project/projectDash.js"></script>

<section id="projectDashboardContent" class="content-container preload">
  <partial name="../_NavBar.cshtml">
</section>
