/*
  HTML guide for sorting <th>

  <th class="sortable-th" id="thFirstName">First Name</th>
  <tbody id="manageUsersTbody">
    <tr id="manageUsersTR_@i">
      <td class="sortFirstName">Albert</td>
*/
@import url(https://cdn.jsdelivr.net/gh/Gabe-Fernandes/StyleDashRepo/dist/styleDash.css);
.status-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.status-wrap .Resolved {
  height: 1.4rem;
  width: 1.4rem;
  min-height: 1.4rem;
  min-width: 1.4rem;
  border-radius: 50%;
  background-color: #17993c;
  position: relative;
  margin: 0 auto;
  margin: 0vh 0.5vw;
}
.status-wrap .Resolved div {
  background-color: #F9F9F9;
  border-radius: 0.4rem;
  position: absolute;
  width: 0.1162rem;
  height: 0.4662rem;
  top: 72%;
  left: 19%;
  transform: translate(-20%, -65%) rotate(-45deg);
}
.status-wrap .Resolved div + div {
  width: 0.1162rem;
  height: 1.05rem;
  top: 15%;
  left: 55%;
  transform: translate(-55%, 0%) rotate(45deg);
}
.status-wrap .Progressing {
  height: 1.4rem;
  width: 1.4rem;
  min-height: 1.4rem;
  min-width: 1.4rem;
  border-radius: 50%;
  background-color: #FDDA16;
  position: relative;
  margin: 0 auto;
  margin: 0vh 0.5vw;
}
.status-wrap .Progressing div {
  width: 1.00002rem;
  height: 0.14rem;
  background-color: #F9F9F9;
  border: 0.07rem solid #FDDA16;
  border-radius: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.status-wrap .Progressing div + div {
  opacity: 0%;
}
.status-wrap .Rejected {
  height: 1.4rem;
  width: 1.4rem;
  min-height: 1.4rem;
  min-width: 1.4rem;
  border-radius: 50%;
  background-color: #781d1d;
  position: relative;
  box-shadow: inset 0 0 0.1rem 0.1rem #781d1d;
  margin: 0 auto;
  margin: 0vh 0.5vw;
}
.status-wrap .Rejected div {
  width: 0.1162rem;
  height: 1.00002rem;
  background-color: #F9F9F9;
  border-radius: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.status-wrap .Rejected div + div {
  transform: translate(-50%, -50%) rotate(45deg);
}
.status-wrap .Unaddressed {
  height: 1.4rem;
  width: 1.4rem;
  min-height: 1.4rem;
  min-width: 1.4rem;
  border-radius: 50%;
  background-color: #FDDA16;
  position: relative;
  margin: 0 auto;
  margin: 0vh 0.5vw;
  background-color: gray;
}
.status-wrap .Unaddressed div {
  width: 1.00002rem;
  height: 0.14rem;
  background-color: #F9F9F9;
  border: 0.07rem solid #FDDA16;
  border-radius: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.status-wrap .Unaddressed div + div {
  opacity: 0%;
}
.status-wrap .Unaddressed div {
  border: none;
}

#createBugReportContent .title-wrap h1 {
  color: #9EA1B0;
}
#createBugReportContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: initial;
  height: initial;
}
#createBugReportContent form .top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
}
#createBugReportContent form .top-section .left-div input {
  margin-left: 1vw;
  text-indent: 5%;
}
#createBugReportContent form .top-section .middle-div {
  margin: 0% auto;
}
#createBugReportContent form .top-section .right-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: initial;
  height: initial;
}
#createBugReportContent form .top-section .right-div .priority-options-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 1vw;
}
#createBugReportContent form .top-section .right-div .priority-options-wrap div {
  margin: 0.7vh 0vw;
}
#createBugReportContent form .textarea-label-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 48vw;
  height: 100%;
}
#createBugReportContent form .textarea-label-wrap label {
  margin: 2vh 0vw;
}
#createBugReportContent form .textarea-label-wrap textarea {
  width: 50vw;
  height: 15vh;
  resize: none;
  text-indent: 3%;
  border-radius: 1rem;
}
#createBugReportContent form .btn-wrap {
  margin: 4vh 0vw;
}
@media (max-width: 768px) {
  #createBugReportContent form .top-section {
    flex-direction: column;
  }
  #createBugReportContent form .top-section .middle-div {
    margin: 3vh 0vw;
  }
}

/*# sourceMappingURL=createBugReport.css.map */
