/*
  HTML guide for sorting <th>

  <th class="sortable-th" id="thFirstName">First Name</th>
  <tbody id="manageUsersTbody">
    <tr id="manageUsersTR_@i">
      <td class="sortFirstName">Albert</td>
*/
@import url(https://cdn.jsdelivr.net/gh/Gabe-Fernandes/StyleDashRepo/dist/styleDash.css);
.status-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.status-wrap .Resolved {
  height: 1.4rem;
  width: 1.4rem;
  min-height: 1.4rem;
  min-width: 1.4rem;
  border-radius: 50%;
  background-color: #17993c;
  position: relative;
  margin: 0 auto;
  margin: 0vh 0.5vw;
}
.status-wrap .Resolved div {
  background-color: #F9F9F9;
  border-radius: 0.4rem;
  position: absolute;
  width: 0.1162rem;
  height: 0.4662rem;
  top: 72%;
  left: 19%;
  transform: translate(-20%, -65%) rotate(-45deg);
}
.status-wrap .Resolved div + div {
  width: 0.1162rem;
  height: 1.05rem;
  top: 15%;
  left: 55%;
  transform: translate(-55%, 0%) rotate(45deg);
}
.status-wrap .Progressing {
  height: 1.4rem;
  width: 1.4rem;
  min-height: 1.4rem;
  min-width: 1.4rem;
  border-radius: 50%;
  background-color: #FDDA16;
  position: relative;
  margin: 0 auto;
  margin: 0vh 0.5vw;
}
.status-wrap .Progressing div {
  width: 1.00002rem;
  height: 0.14rem;
  background-color: #F9F9F9;
  border: 0.07rem solid #FDDA16;
  border-radius: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.status-wrap .Progressing div + div {
  opacity: 0%;
}
.status-wrap .Rejected {
  height: 1.4rem;
  width: 1.4rem;
  min-height: 1.4rem;
  min-width: 1.4rem;
  border-radius: 50%;
  background-color: #781d1d;
  position: relative;
  box-shadow: inset 0 0 0.1rem 0.1rem #781d1d;
  margin: 0 auto;
  margin: 0vh 0.5vw;
}
.status-wrap .Rejected div {
  width: 0.1162rem;
  height: 1.00002rem;
  background-color: #F9F9F9;
  border-radius: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.status-wrap .Rejected div + div {
  transform: translate(-50%, -50%) rotate(45deg);
}
.status-wrap .Unaddressed {
  height: 1.4rem;
  width: 1.4rem;
  min-height: 1.4rem;
  min-width: 1.4rem;
  border-radius: 50%;
  background-color: #FDDA16;
  position: relative;
  margin: 0 auto;
  margin: 0vh 0.5vw;
  background-color: gray;
}
.status-wrap .Unaddressed div {
  width: 1.00002rem;
  height: 0.14rem;
  background-color: #F9F9F9;
  border: 0.07rem solid #FDDA16;
  border-radius: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.status-wrap .Unaddressed div + div {
  opacity: 0%;
}
.status-wrap .Unaddressed div {
  border: none;
}

#editPersonalInfoContent .top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 50vh;
  margin: 5vh auto;
}
#editPersonalInfoContent .top-section .info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20vw;
  height: 45vh;
  background-color: #2E3349;
  border-radius: 1.2em;
  margin: 0px 2vw;
}
#editPersonalInfoContent .top-section .info-card label {
  margin: 2vh 0vw;
}
#editPersonalInfoContent .top-section .info-card .input-err-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 9%;
  position: relative;
  margin: 2vh 0vw;
}
#editPersonalInfoContent .top-section .info-card .input-err-wrap input[type=text] {
  width: 100%;
  height: 100%;
  border-radius: 0.6em;
  text-indent: 5%;
  font-size: 1em;
}
#editPersonalInfoContent .top-section .info-card .input-err-wrap-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 7vh;
  position: relative;
}
#editPersonalInfoContent .top-section .info-card .input-err-wrap-date input[type=date] {
  width: 80%;
  height: 80%;
  border-radius: 0.3em;
  text-indent: 5%;
}
#editPersonalInfoContent .bot-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 10vh;
  margin: 0 auto;
}
#editPersonalInfoContent .bot-section a {
  margin: 0vh 5vw;
}
@media (max-width: 768px) {
  #editPersonalInfoContent .top-section {
    width: 100vw;
    height: 60vh;
  }
  #editPersonalInfoContent .top-section .info-card {
    width: 70vw;
    margin: 0px;
    position: relative;
    top: 0vh;
    left: 0vw;
  }
  #editPersonalInfoContent .top-section .create-acc-btn-wrap {
    margin-top: 5vh;
  }
}
#editPersonalInfoContent .mobile-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 5vh;
  background-color: #F9F9F9;
  position: absolute;
  bottom: 3vh;
  right: 4vw;
}
#editPersonalInfoContent .mobile-pagination-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 1em;
}
#editPersonalInfoContent .mobile-pagination-container div img {
  height: 1.2em;
  width: 1.2em;
  min-height: 1.2em;
  min-width: 1.2em;
  border-radius: 50%;
}
#editPersonalInfoContent .mobile-pagination-container label {
  position: absolute;
  left: -9vw;
}
@media (min-width: 426px) and (max-width: 768px) {
  #editPersonalInfoContent .mobile-pagination-container {
    width: 6vw;
    height: 3vh;
  }
}

/*# sourceMappingURL=editPersonalInfo.css.map */
