/*
  HTML guide for sorting <th>

  <th class="sortable-th" id="thFirstName">First Name</th>
  <tbody id="manageUsersTbody">
    <tr id="manageUsersTR_@i">
      <td class="sortFirstName">Albert</td>
*/
#manageTeamContent .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 10vh;
  border-radius: 1.2rem;
  background-color: #2E3349;
  margin: 4vh auto;
}
#manageTeamContent .search-container .search-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 5vh;
  position: relative;
  margin: 2vh 0vw;
}
#manageTeamContent .search-container .search-wrap img {
  height: 2.5rem;
  width: 2.5rem;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  position: absolute;
  left: 0.5%;
}
#manageTeamContent .search-container .search-wrap input[type=text] {
  width: 30%;
  height: 100%;
  border-radius: 0.6rem;
  text-indent: 20%;
  font-size: 1rem;
  transition: width 0.3s, text-indent 0.3s;
}
@media (max-width: 425px) {
  #manageTeamContent .search-container .search-wrap input[type=text] {
    width: 38vw;
    text-indent: 25%;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  #manageTeamContent .search-container .search-wrap input[type=text] {
    width: 28vw;
  }
}
#manageTeamContent .table-wrap {
  width: 80vw;
  height: 60vh;
  display: block;
  border-radius: 0.5rem;
  background-color: #4F5468;
  transition: width 0.3s;
  overflow-y: auto;
  margin: 0 auto;
}
#manageTeamContent .table-wrap table {
  width: 100%;
  border-collapse: collapse;
}
#manageTeamContent .table-wrap table th {
  padding: 1rem;
  background-color: #2E3349;
  position: sticky;
  top: 0px;
  z-index: 1;
}
#manageTeamContent .table-wrap table .sortable-th {
  cursor: pointer;
}
#manageTeamContent .table-wrap table .sortable-th:active {
  transform: scale(0.94);
  transform: translateY(5%);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
#manageTeamContent .table-wrap table tr:nth-child(odd) {
  background-color: #4A4F63;
}
#manageTeamContent .table-wrap table tr {
  transition: background-color 0.3s;
}
#manageTeamContent .table-wrap table tr:hover {
  background-color: #DD9631 !important;
}
#manageTeamContent .table-wrap table td {
  padding: 1rem;
  text-align: center;
}
#manageTeamContent .table-wrap table .table-pagination-panel .table-pagination-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: initial;
}
#manageTeamContent .table-wrap table .table-pagination-panel .table-pagination-wrap .results-per-page-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: initial;
  margin-left: 5vw;
}
#manageTeamContent .table-wrap table .table-pagination-panel .table-pagination-wrap .page-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: initial;
}
#manageTeamContent .table-wrap table .table-pagination-panel .table-pagination-wrap .showing-results-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: initial;
  margin-right: 5vw;
}
#manageTeamContent .table-wrap table .table-pagination-panel #firstPageBtn, #manageTeamContent .table-wrap table .table-pagination-panel #prevPageBtn {
  transform: rotate(180deg);
}
#manageTeamContent .table-wrap table .table-pagination-panel .input-validation-wrap input {
  width: 3vw;
  margin: 0vh 1vw;
  text-align: center;
  text-indent: 0%;
}
#manageTeamContent .table-wrap table .table-pagination-panel .input-validation-wrap span {
  top: -150%;
  border: 2px solid #781d1d;
}
#manageTeamContent .table-wrap button {
  font-size: 1rem;
}
#manageTeamContent .table-wrap img {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

#removeUserModal .remove-user-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #2E3349;
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem 0.1rem #2E3349;
  transition: width 0.25s;
}
#removeUserModal .remove-user-modal h3 {
  margin-bottom: 1vh;
}
#removeUserModal .remove-user-modal .remove-user-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: initial;
  height: initial;
  margin-top: 1vh;
}
#removeUserModal .remove-user-modal .remove-user-btn-wrap button {
  margin: 0vh 1vw;
}
#removeUserModal .remove-user-modal .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 5%;
  right: 5%;
  margin: 0rem 0.5rem;
  background-color: white;
  cursor: pointer;
  border-radius: 1rem;
  margin: 0;
  top: 10%;
}
#removeUserModal .remove-user-modal .close-btn img {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 50%;
}

/*# sourceMappingURL=manageTeam.css.map */
