/*
  HTML guide for sorting <th>

  <th class="sortable-th" id="thFirstName">First Name</th>
  <tbody id="manageUsersTbody">
    <tr id="manageUsersTR_@i">
      <td class="sortFirstName">Albert</td>
*/
* {
  margin: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Times New Roman";
  text-decoration: none;
  color: #F9F9F9;
}

html {
  transition: font-size 0.25s;
}

body {
  background-color: #212325;
}

input, h1, select, option {
  color: black;
}

.hide {
  opacity: 0% !important;
  pointer-events: none !important;
  position: absolute !important;
  display: none;
}

.disable {
  filter: brightness(50%);
  pointer-events: none;
}

.no-js-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 10vh;
  background-color: #181e36;
  font-size: 1.5em;
  position: fixed;
  z-index: 2;
}
nav .nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 100%;
  text-align: center;
}
nav .nav-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.39s, box-shadow 0.39s, background-color 0.39s;
}
nav .nav-btn a:hover, nav .nav-btn a:focus {
  background-color: #DD9631;
  box-shadow: 4px 3px 22px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}
nav .nav-btn a:active {
  transform: scale(0.94);
}
nav .nav-highlight {
  border-bottom: 0.4em solid #DD9631;
  border-radius: 0.4em;
  margin-bottom: -0.4em;
}

.nav-space {
  width: 100vw;
  height: 10vh;
}

.title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

.btn {
  cursor: pointer;
  transition: filter 0.25s;
  padding: 0.4em 1em;
  font-size: 1.1em;
  border-radius: 1em;
  background: #181e36;
}

.btn:hover {
  filter: brightness(115%);
}

.btn:active {
  transform: scale(0.94);
  transform: translateY(5%);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.text-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.1em;
}

input {
  text-indent: 10%;
  border-radius: 0.7rem;
  font-size: 1.2rem;
}

select {
  border-radius: 0.3em;
  font-size: 1.2em;
}

.screen-tint {
  width: 100vw;
  height: 100vh;
  display: initial;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  transition: opacity 0.3s, background-color 0.3s;
}

.unclickable {
  pointer-events: none;
  filter: blur(0.2em);
}

.err-input {
  border: 0.2em solid #781d1d;
  box-shadow: 0 0 0.1em 0.1em #781d1d;
}

.err {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7em;
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
  background-color: #93A8AC;
  transition: opacity 0.3s;
  pointer-events: none;
}

.confirmation-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24vw;
  height: 30vh;
  background-color: #181e36;
  box-shadow: 0 0 0.2em 0.2em #181e36;
  border-radius: 0.6em;
  margin: 0vh auto;
}
.confirmation-wrap span {
  font-size: 1.2em;
  width: 80%;
  text-align: center;
}
.confirmation-wrap .confirmation {
  height: 6em;
  width: 6em;
  min-height: 6em;
  min-width: 6em;
  border-radius: 50%;
  background-color: #17993c;
  position: relative;
  margin: 0 auto;
  margin-top: 4vh;
}
.confirmation-wrap .confirmation div {
  background-color: #F9F9F9;
  border-radius: 0.4em;
  position: absolute;
  width: 0.498em;
  height: 1.998em;
  top: 72%;
  left: 19%;
  transform: translate(-20%, -65%) rotate(-45deg);
}
.confirmation-wrap .confirmation div + div {
  width: 0.498em;
  height: 4.5em;
  top: 15%;
  left: 55%;
  transform: translate(-55%, 0%) rotate(45deg);
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em grey;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #181e36;
  border-radius: 0.5em;
}

@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 2560) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 769px) {
  .mobile-ele {
    opacity: 0% !important;
    pointer-events: none !important;
    position: absolute !important;
    display: none;
  }
}

/*# sourceMappingURL=site.css.map */
