/*
  HTML guide for sorting <th>

  <th class="sortable-th" id="thFirstName">First Name</th>
  <tbody id="manageUsersTbody">
    <tr id="manageUsersTR_@i">
      <td class="sortFirstName">Albert</td>
*/
* {
  margin: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Times New Roman";
  text-decoration: none;
  color: #F9F9F9;
}

html {
  transition: font-size 0.25s;
}

body {
  background-color: #212325;
}

.background-img {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  pointer-events: none;
}

input, h1, select, option, textarea {
  color: black;
}

.hide {
  width: 1px !important;
  height: 1px !important;
  opacity: 0% !important;
  pointer-events: none !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.disable {
  filter: brightness(50%);
  pointer-events: none;
}

.no-js-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 999;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 15vw;
  height: 100vh;
  position: fixed;
  transition: left 0.25s;
  left: 0%;
  background-color: #181e36;
}
nav img {
  height: 3rem;
  width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 50%;
  margin: 5vh 0vw;
}
nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  cursor: pointer;
}
nav .nav-item :hover {
  background-color: #2E3349;
}
nav .nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
  color: #007DF9;
}
nav .logout-btn-wrap {
  position: absolute;
  left: 15%;
  bottom: 5%;
}
nav .logout-btn-wrap img {
  height: 3rem;
  width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 50%;
  border-radius: 0rem;
  cursor: pointer;
}
nav .logout-btn-wrap button {
  background-color: transparent;
  border: none;
}
nav .show-nav-btn {
  cursor: pointer;
  position: absolute;
  top: 0vh;
  right: 0vw;
  transition: transform 0.25s, right 0.25s;
}
nav .point-left {
  transform: rotate(90deg);
}
nav .point-right {
  transform: rotate(-90deg);
  right: -5vw;
}

.hide-nav {
  left: -17vw;
}

.content-container {
  margin-left: 15vw;
  transition: margin 0.25s, width 0.25s;
}

/*
  nav {
  @include Flex-Row(flex-start, center);
  width: 100vw;
  height: 10vh;
  background-color: $cHeader;
  font-size: 1.5em;
  position: fixed;
  z-index: $zNavbar;
  .nav-btn {
    @include Flex-Row(center, center, 18%, 100%);
    text-align: center;
    a {
      @include Flex-Row(center, center, 100%, 100%);
      transition: transform 0.39s, box-shadow 0.39s, background-color 0.39s;
      &:hover, &:focus {
        background-color: $cHighlightStrong;
        box-shadow: 4px 3px 22px 2px rgba(0,0,0, 0.5);
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.94);
      }
    }
  }
  .nav-highlight {
    border-bottom: 0.4em solid $cHighlightStrong;
    border-radius: 0.4em;
    margin-bottom: -0.4em;
  }
}

.nav-space {
  width: 100vw;
  height: 10vh;
}
*/
.title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 5vh 0vw;
}
.title-wrap h1 {
  color: #F9F9F9;
}

.btn {
  cursor: pointer;
  transition: filter 0.25s;
  padding: 0.4em 1em;
  font-size: 1.1em;
  border-radius: 1em;
  background: #181e36;
}

.btn:hover {
  filter: brightness(115%);
}

.btn:active {
  transform: scale(0.94);
  transform: translateY(5%);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.text-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.1em;
}

input {
  text-indent: 10%;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}

input[type=date] {
  text-indent: 5%;
}

textarea {
  border-radius: 0.4rem;
  resize: none;
  padding: 0.3rem;
}

select {
  border-radius: 0.3em;
  font-size: 1.2em;
}

.screen-tint {
  width: 100vw;
  height: 100vh;
  display: initial;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  transition: opacity 0.3s, background-color 0.3s;
}

.unclickable {
  pointer-events: none;
  filter: blur(0.2em);
}

.err-input {
  border: 0.2em solid #781d1d;
  box-shadow: 0 0 0.1em 0.1em #781d1d;
}

.err {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7em;
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
  background-color: #4F5468;
  transition: opacity 0.3s;
  pointer-events: none;
}

.confirmation-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24vw;
  height: 30vh;
  background-color: #C8C8C8;
  box-shadow: 0 0 0.2em 0.2em #C8C8C8;
  border-radius: 0.6em;
  margin: 0vh auto;
}
.confirmation-wrap span {
  font-size: 1.2em;
  width: 80%;
  text-align: center;
}
.confirmation-wrap .confirmation {
  height: 6em;
  width: 6em;
  min-height: 6em;
  min-width: 6em;
  border-radius: 50%;
  background-color: #17993c;
  position: relative;
  margin: 0 auto;
  margin-top: 4vh;
}
.confirmation-wrap .confirmation div {
  background-color: #F9F9F9;
  border-radius: 0.4em;
  position: absolute;
  width: 0.498em;
  height: 1.998em;
  top: 72%;
  left: 19%;
  transform: translate(-20%, -65%) rotate(-45deg);
}
.confirmation-wrap .confirmation div + div {
  width: 0.498em;
  height: 4.5em;
  top: 15%;
  left: 55%;
  transform: translate(-55%, 0%) rotate(45deg);
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em grey;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #2E3349;
  border-radius: 0.5em;
}

@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 2560) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 769px) {
  .mobile-ele {
    opacity: 0% !important;
    pointer-events: none !important;
    position: absolute !important;
    display: none;
  }
}

/*# sourceMappingURL=site.css.map */
