@import "../_library.scss";

#fileStructureContent, #SRSContent {
  .file-structure {
    @include Flex-Col(flex-start, flex-start, 30vw, 60vh);
    background-color: #2e3349;
    border: 1px solid black;
    margin: 0vh auto 2vh;
    overflow-x: auto;
    .drag-highlight {
      background-color: #8c179b;
    }
    .dir {
      @include Flex-Col(center, center, 100%, initial);
      .dir-content, .file {
        @include Flex-Row(flex-start, center, 100%, initial);
        font-size: 1.2rem;
        img {
          @include Img-Round(1.2rem);
          padding-right: 0.5vw;
        }
        img, label {
          pointer-events: none;
        }
        input {
          border-radius: 0.2rem;
          text-indent: 2%;
        }
        .dir-btn {
          pointer-events: all;
          cursor: pointer;
          transition: transform 0.2s;
        }
        .closed-dir-btn {
          transform: rotate(-90deg);
        }
      }
      .dir-container {
        @include Flex-Col(flex-start, flex-start, 100%, initial);
        img:first-of-type {
          margin-left: 2vw;
        }
      }
    }
    .fs-item-selected {
      background-color: #007df9;
    }
  }
  
  .ctx-menu-styles {
    @include Flex-Col(center, center, 14vw, 15vh);
    background-color: gray;
    position: absolute;
    cursor: context-menu;
    font-size: 1.2rem;
    border: 1px solid black;
  }
  .sub-menu {
    height: 10vh;
    left: 100%;
    top: 0%;
  }
  .ctx-item-wrap {
    @include Flex-Row(flex-start, center, 100%, 100%);
    &:hover {
      background-color: #007df9;
    }
    img {
      @include Img-Round(1.2rem);
      margin: 0vh 0.5vw;
    }
    img, label {
      pointer-events: none;
    }
  }
  .hide-menu {
    opacity: 0;
    pointer-events: none;
  }
  .btn-wrap {
    @include Flex-Row(center, center, 100%, 100%);
    margin-bottom: 2vh;
    .btn {
      margin: 0vh 1vw;
    }
    input {
      text-indent: 0%;
      color: $cWhite;
    }
  }
}
