@import "../site.scss";

#SRSContent {
  @include Flex-Col(center, flex-start, 84%, 100%);
  section, form {
    @include Flex-Col(center, flex-start, 100%, 100%);
    margin: 2vh 0vw;
    .input-wrap {
      @include Flex-Col(flex-start, center, 50vw, initial);
      margin: 2vh 0vw;
    }
    input {
      width: 21vw;
      transition: width 0.3s;
    }
    @media (max-width: $bmaxTablet) {
      input {
        width: 100%;
      }
    }
    textarea {
      @include WidthHeight(50vw, 7vh);
    }
    img {
      @include Img-Round(2rem);
      cursor: pointer;
    }
    .section-title {
      position: relative;
      .edit-btn {
        position: absolute;
        top: 50%;
        left: 130%;
        transform: translate(-50%, -50%);
      }
    }
    .tech-stack-wrap {
      @include Flex-Col(center, flex-start, 100%, 100%);
      div {
        @include Flex-Row(center, center, 30vw, 5vh);
        label {
          width: 50%;
          margin: 0vh 5vw 0vh 25%;
        }
        span {
          width: 50%;
        }
      }
    }
    .btn-wrap {
      margin: 2vh 0vw;
    }
    .color-data-wrap {
      @include Flex-Row(center, center, initial, initial);
      margin: 2vh 0vw;
      div {
        @include WidthHeight(3vw, 3vw);
        border-radius: 0.3rem;
        margin-right: 3vw;
      }
    }
    #exportBackendScaffoldDataBtn {
      margin: 2vh 0vw;
    }
    .model-wrap {
      @include Flex-Col(flex-start, flex-start, initial, initial);
      margin: 2vh 0vw;
      span {
        margin-left: 3vw;
      }
      p {
        margin-left: 6vw;
      }
    }
  }
}
