@import "../site.scss";

#techStackContent {
  @include Flex-Col(center, flex-start, 84%, 100%);
  .input-container {
    @include Flex-Col(center, flex-start, 50vw, 80%);
    margin: 0 auto;
    .input-wrap {
      @include Flex-Col(flex-start, center, 80%, initial);
      input {
        @include WidthHeight(100%, 4vh);
        margin: 2vh 0vw;
        text-indent: 5%;
      }
    }
  }
  .btn-wrap {
    @include Flex-Row(center, center, 100%, 100%);
    margin-top: 2vh;
    margin-bottom: 4vh;
    .btn {
      margin: 0vh 1vw;
    }
  }
}
