@import "../_library.scss";

#bugTrackingContent {
  .title-wrap {
    h1 {
      color: white;
    }
  }
  .table-wrap {
    @include TableWrap(85%, 65vh, $cTableRow, $cTableRowOff, $cHeader, $cHighlightSoft, false);
    margin: 0 auto;
    thead {
      position: sticky;
      top: 0%;
      z-index: $zStickyThead;
    }
    img {
      @include Img-Round(2rem);
      cursor: pointer;
    }
    .table-config-wrap {
      @include Flex-Row(center, center, 100%, 100%);
      .checkbox-wrap {
        @include Flex-Row(flex-start, center, initial, initial);
        margin-right: 15%;
        input {
          margin-right: 1vw;
        }
      }
      .bug-tracking-search-wrap {
        @include Flex-Row(flex-end, center, initial, initial);
        margin-left: 15%;
        input {
          margin-right: 1vw;
        }
      }
    }
  }
  .report-bug-btn-wrap {
    @include Flex-Row(center, center, initial, initial);
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

#delBugReportModal {
  .del-bug-report-modal {
    @include Modal(25vw, 25vh, none);
    background-color: #4F5468;
    transition: width 0.25s;
    h3 {
      width: 75%;
      text-align: center;
    }
    .btn-wrap {
      margin-top: 3vh;
      button {
        margin: 0vh 1vw;
      }
      button[type="submit"] {
        background-color: $cWarning;
      }
    }
    .close-btn {
      @include CloseBtnImg(1.4rem);
    }
  }
}

// mobile styles
@media (max-width: $bmaxTablet) {
  #bugTrackingContent {
    .report-bug-btn-wrap {
      position: static;
      margin-bottom: 2vh;
    }
  }

  #delBugReportModal {
    .del-bug-report-modal {
      width: 45vw;
    }
  }
}
