@model BugReport;

@{
  ViewData["title"] = "Create Bug Report";
  string projDueDate = (string)ViewData["ProjDueDate"];
}

<script type="text/javascript" src="~/js/BugTracker/createBugReport.js"></script>
<script type="text/javascript" src="~/js/validations.js"></script>

<section id="createBugReportContent" class="content-container preload">
  <div class="title-wrap">
    <h1>Create Bug Report</h1>
  </div>
  <form method="post" asp-controller="BugTracker" asp-action="CreateBugReport" id="createBugReportForm">

    <div class="top-section">
      <div class="left-div input-validation-wrap">
        <label>Due:</label>
        <input asp-for="DueDate" type="date" id="createBugReportDueDate" value="@projDueDate">
        <span id="createBugReportDueDateErr" class="err hide"></span>
      </div>

      <div class="middle-div">
        <label>Points:</label>
        <select asp-for="Points">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="8">8</option>
          <option value="13">13</option>
        </select>
      </div>

      <div class="right-div">

        <div>
          <label>Priority:</label>
        </div>

        <div class="priority-options-wrap">
          <div>
            <input asp-for="Priority" type="radio" name="Priority" value="Low" checked>
            <label for="">Low</label>
          </div>
          <div>
            <input asp-for="Priority" type="radio" name="Priority" value="Medium">
            <label for="">Medium</label>
          </div>
          <div>
            <input asp-for="Priority" type="radio" name="Priority" value="High">
            <label for="">High</label>
          </div>
        </div>

      </div>
    </div>

    <div class="textarea-label-wrap">
      <label>Describe the issue:</label>
      <div class="input-validation-wrap">
        <textarea asp-for="Description" id="createBugReportDescription"></textarea>
        <span id="createBugReportDescriptionErr" class="err hide"></span>
      </div>
    </div>

    <div class="textarea-label-wrap">
      <label>How to recreate the issue:</label>
      <div class="input-validation-wrap">
        <textarea asp-for="RecreateIssue" id="createBugReportRecreateIssue"></textarea>
        <span id="createBugReportRecreateIssueErr" class="err hide"></span>
      </div>
    </div>

    <div class="btn-wrap">
      <button type="submit" class="btn">Report</button>
      <a asp-controller="BugTracker" asp-action="BugTracking" class="btn">Back</a>
    </div>
  </form>
</section>
