<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - PMT</title>
  <link rel="icon" href="/icons/PMT_favicon.png">
  <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/recoverPassword.css" asp-append-version="true" />

  <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
  <script defer type="text/javascript" src="https://cdn.jsdelivr.net/gh/Gabe-Fernandes/StyleDashRepo/js/styleDash.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/Gabe-Fernandes/StyleDashRepo/js/styleDashValidation.js"></script>
  <script defer type="text/javascript" src="~/js/site.js"></script>
</head>
<body>
  <div class="no-js-warning">This application relies heavily on javascript - please ensure it's enabled in your browser and refresh the page.</div>
  <script>$(".no-js-warning").remove();</script>
  <main role="main">
    @RenderBody()
  </main>
</body>
</html>
