@using PMT.Services;
@using PMT.Views.Account;
@model AccountVM;

@{
  ViewData["Title"] = "Recover Password";
}

<script type="text/javascript" src="~/js/Account/recoverPassword.js"></script>

<img class="background-img" src="~/images/PMTAccountBackground.png">

<section role="main" id="recoverPasswordContent">
  <div class="title-wrap">
    <h1>Recover Password</h1>
  </div>

  <form method="post" asp-controller="@Str.Account" asp-action="@Str.RecoverPassword" class="recover-password-form" autocomplete="on">
    <div class="input-wrap">
      <input asp-for="Password" id="recoverPasswordPass" type="password" placeholder="Password" autocomplete="new-password">
      <span id="recoverPasswordPassErr" class="err hide"></span>
      <img tabindex="0" class="passHideBtn hide" src="/icons/passInvisible_512x512.png">
      <img tabindex="0" class="passShowBtn" src="/icons/passVisible_512x512.png" >
    </div>
    <div class="input-wrap">
      <input asp-for="ConfirmPassword" id="recoverPasswordConfPass" type="password" placeholder="ConfirmPassword" autocomplete="new-password">
      <span id="recoverPasswordConfPassErr" class="err hide"></span>
      <img tabindex="0" class="passHideBtn hide" src="/icons/passInvisible_512x512.png">
      <img tabindex="0" class="passShowBtn" src="/icons/passVisible_512x512.png" >
    </div>

    <div class="requirement-wrap">
      <div class="requirements">
        <div id="charMinConfirmation" class="invalid"><div></div><div></div></div>
        <label>at least 8 characters</label>
      </div>
      <div class="requirements">
        <div id="charLowerConfirmation" class="invalid"><div></div><div></div></div>
        <label>at least 1 lowercase letter</label>
      </div>
      <div class="requirements">
        <div id="charUpperConfirmation" class="invalid"><div></div><div></div></div>
        <label>at least 1 uppercase letter</label>
      </div>
      <div class="requirements">
        <div id="charNumberConfirmation" class="invalid"><div></div><div></div></div>
        <label>at least 1 number</label>
      </div>
      <div class="requirements">
        <div id="charSpecialConfirmation" class="invalid"><div></div><div></div></div>
        <label>at least 1 symbol (!, @@, #, $, %, &, *)</label>
      </div>
    </div>

    <div class="btn-wrap">
      <button type="submit" class="btn">Recover Account</button>
    </div>
  </form>

  <a asp-controller="@Str.Account" asp-action="@Str.Login" class="btn cancelBtn" id="cancelBtn">Cancel</a>
</section>
