@import "../_library.scss";

#myProjectsContent {
  @include Flex-Col(center, flex-start, 100vw, 100vh);
  .background-img {
    @include WidthHeight(100vw, 100vh);
    z-index: $zBackground;
    position: absolute;
  }
  .table-wrap {
    @include TableWrap(50vw, 50vh, $cTableRow, $cTableRowOff, $cHeader, none, false);
    margin: 25vh 0vw 5vh;
    .flex-td {
      @include Flex-Row(center, center, initial, initial);
    }
    a {
      @include WidthHeight(100%, 100%);
      display: block;
    }
    img {
      @include Img-Round(1.5rem);
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .copy-btn {
      margin-left: 1vw;
      padding: 0%;
    }
  }
  .img-btn-wrap {
    position: relative;
    margin: 0.5vh 0vw;
    img {
      @include Img-Round(1.4rem);
      position: absolute;
      left: 20%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: $zModal;
    }
    button {
      width: 130%;
      text-indent: 15%;
    }
  }
  .logout-btn-wrap {
    position: absolute;
    right: 4%;
    bottom: 7%;
    img {
      @include Img-Round(3rem);
      border-radius: 0rem;
      cursor: pointer;
    }
    button {
      background-color: transparent;
      border: none;
    }
  }
}

.new-proj-modal {
  @include Modal(35vw, 30vh, $cAccBackground);
  transition: width 0.25s;

  .date-inputs {
    @include Flex-Row(center, center, initial, initial);
    margin: 2.5vh 0vw;

    .input-date-wrap {
      @include Flex-Col(center, center, initial, initial);
      margin: 0vh 0.5vw;
    }
  }

  .span-err-div {
    position: relative;
  }
}

.join-proj-modal {
  @include Modal(35vw, 25vh, $cAccBackground);
  transition: width 0.25s;
  .input-wrap {
    margin: 5vh 0vw;
    position: relative;

    #joinProjErrSpan {
      top: 120%;
    }
  }
}

.leave-proj-modal {
  @include Modal(20vw, 20vh, $cAccBackground);
  transition: width 0.25s;
  h3 {
    margin-bottom: 1vh;
  }
  .leave-proj-btn-wrap {
    @include Flex-Row(center, center, initial, initial);
    margin-top: 1vh;
    button {
      margin: 0vh 1vw;
    }
  }
}

.close-btn {
  @include CloseBtnImg(2rem);
  margin: 0;
  top: 10%;
}

// mobile styles for modal
@media (max-width: $bmaxTablet) {
  .new-proj-modal {
    width: 45vw;
  }
}
