@import "../_library.scss";

#projectDashboardContent {
  @include Grid-Col(auto auto, 40vh, 2rem, 1rem);

  .team-productivity, .burn-chart, .issue-pie, .bottleneck-indicator {
    @include Flex-Row(center, center, 40vw, 40vh);
    background-color: $cHeader;
    border-radius: 1rem;
    transition: width 0.3s;
    margin: 0 auto;
  }
  .team-productivity {
    .y-info {
      @include Flex-Col(center, center, 18%, 100%);
      border: solid 1px $cBackground;
      background-color: $cHighlightSoft;
      div {
        @include Flex-Row(center, center, 100%, 25%);
        color: $cHighlightSoftTextColor;
        cursor: pointer;
      }
    }
    .right-div {
      @include Flex-Col(center, center, 82%, 100%);
      .team-prod-ctrl-panel {
        @include Flex-Row(center, center, 100%, 15%);
        border: solid 1px $cBackground;
        .pagination-counter-balance {
          @include Flex-Row(center, center, 15%, 100%);
        }
        h2 {
          @include Flex-Row(center, center, 70%, 100%);
        }
        .pagination-wrap {
          @include Flex-Row(center, center, 15%, 100%);
          img {
            @include Img-Round(1.5rem);
            margin: 0vh 0.4vw;
            cursor: pointer;
          }
        }
      }
      .bar-container {
        @include Flex-Row(center, flex-end, 100%, 65%);
        .bar {
          @include WidthHeight(7.1%, 0%);
          background-color: #007df9;
          border: 1px solid $cBackground;
          transition: height 0.5s;
        }
      }
      .x-info {
        @include Flex-Col(center, center, 100%, 20%);
        .time-label-wrap {
          @include Flex-Row(center, center, 100%, 50%);
          div {
            width: 7.1%;
            text-align: center;
          }
        }
        h3 {
          @include WidthHeight(100%, 50%);
          text-align: center;
        }
      }
    }
  }



  .burn-chart {
    .y-info {
      @include Flex-Col(center, center, 18%, 100%);
      border: solid 1px $cBackground;
      background-color: $cHighlightSoft;
      div {
        @include Flex-Row(center, center, 100%, 25%);
        color: $cHighlightSoftTextColor;
        cursor: pointer;
      }
    }
    .right-div {
      @include Flex-Col(center, center, 82%, 100%);
      .team-prod-ctrl-panel {
        @include Flex-Row(center, center, 100%, 15%);
        border: solid 1px $cBackground;
        .pagination-counter-balance {
          @include Flex-Row(center, center, 15%, 100%);
        }
        h2 {
          @include Flex-Row(center, center, 70%, 100%);
        }
        .pagination-wrap {
          @include Flex-Row(center, center, 15%, 100%);
          img {
            @include Img-Round(1.5rem);
            margin: 0vh 0.4vw;
            cursor: pointer;
          }
        }
      }
      .graph-container {
        @include WidthHeight(100%, 65%);
        position: relative;
        #curveChart {
          @include WidthHeight(100%, 100%);
        }
      }
      .x-info {
        @include Flex-Col(center, center, 100%, 20%);
        .time-label-wrap {
          @include Flex-Row(center, center, 100%, 50%);
          div {
            width: 7.1%;
            text-align: center;
          }
        }
        h3 {
          @include WidthHeight(100%, 50%);
          text-align: center;
        }
      }
    }
  }



  .issue-pie {
    .y-info {
      @include Flex-Col(center, center, 18%, 100%);
      border: solid 1px $cBackground;
      background-color: $cHighlightSoft;
      div {
        @include Flex-Row(center, center, 100%, 25%);
        color: $cHighlightSoftTextColor;
        cursor: pointer;
      }
    }
    .right-div {
      @include Flex-Col(center, center, 82%, 100%);
      .team-prod-ctrl-panel {
        @include Flex-Row(center, center, 100%, 15%);
        border: solid 1px $cBackground;
        .pagination-counter-balance {
          @include Flex-Row(center, center, 15%, 100%);
        }
        h2 {
          @include Flex-Row(center, center, 70%, 100%);
        }
        .pagination-wrap {
          @include Flex-Row(center, center, 15%, 100%);
          img {
            @include Img-Round(1.5rem);
            margin: 0vh 0.4vw;
            cursor: pointer;
          }
        }
      }
      .pie-and-key-wrap {
        @include Flex-Row(center, center, 100%, 100%);
        .pie-wrap {
          @include Flex-Col(center, center, 50%, 100%);
          .pie {
            @include WidthHeight(80%, 40%);
            background-color: transparent;
            border-radius: 50%;
            margin: 1rem;
            transition: background-color 0.5s;
          }
        }
        .key-wrap {
          @include Flex-Col(center, center, 50%, 100%);
          h3 {
            margin: 2vh 0vw;
          }
          .pie-key {
            @include Flex-Row(center, center, 90%, 50%);
            background-color: $cBackground;
            .pie-color-wrap {
              @include Flex-Col(center, center, 30%, 100%);
              transition: opacity 0.3s;
              div {
                @include Flex-Row(center, center, 100%, 100%);
                .pie-color {
                  @include WidthHeight(70%, 50%);
                  border-radius: 0.3rem;
                }
              }
            }
            .pie-label-wrap {
              @include Flex-Col(center, center, 70%, 100%);
              transition: opacity 0.3s;
              div {
                @include Flex-Row(flex-start, center, 100%, 100%);
                margin-left: 10%;
              }
            }
          }
        }
      }
      .x-info {
        @include Flex-Col(center, center, 100%, 20%);
        .time-label-wrap {
          @include Flex-Row(center, center, 100%, 50%);
          div {
            width: 7.1%;
            text-align: center;
          }
        }
        h3 {
          @include WidthHeight(100%, 50%);
          text-align: center;
        }
      }
    }
  }


  // bottleneck indicator
/*  .bottleneck-indicator {
    .y-info {
      @include Flex-Col(center, center, 18%, 100%);
      border: solid 1px $cBackground;
      background-color: $cHighlightSoft;
      div {
        @include Flex-Row(center, center, 100%, 25%);
        color: $cHighlightSoftTextColor;
        cursor: pointer;
      }
    }
    .right-div {
      @include Flex-Col(center, center, 82%, 100%);
      .team-prod-ctrl-panel {
        @include Flex-Row(center, center, 100%, 15%);
        border: solid 1px $cBackground;
        .pagination-counter-balance {
          @include Flex-Row(center, center, 15%, 100%);
        }
        h2 {
          @include Flex-Row(center, center, 70%, 100%);
        }
        .pagination-wrap {
          @include Flex-Row(center, center, 15%, 100%);
          img {
            @include Img-Round(1.5rem);
            margin: 0vh 0.4vw;
            cursor: pointer;
          }
        }
      }
      .bottleneck-stats {
        @include Flex-Col(center, center, 100%, 65%);
        .top-row, .bot-row {
          @include Flex-Row(center, center, 100%, 50%);
          div {
            @include Flex-Col(center, center, 20%, 100%);
          }
        }
      }
      .x-info {
        @include Flex-Col(center, center, 100%, 20%);
        h3 {
          @include WidthHeight(100%, 50%);
          text-align: center;
        }
      }
    }
  }*/
}
