@import "_library.scss";

// solution specific
.status-wrap {
  @include Flex-Row(center, center, auto, 100%);
  .Resolved {
    @include Confirmation(1.4rem);
    margin: 0vh 0.5vw;
  }
  .Progressing {
    @include Neutral(1.4rem);
    margin: 0vh 0.5vw;
  }
  .Rejected {
    @include Invalid(1.4rem);
    margin: 0vh 0.5vw;
  }
  .Unaddressed {
    @include Neutral(1.4rem);
    margin: 0vh 0.5vw;
    background-color: gray;
    div {
      border: none;
    }
  }
}
