@import "_library.scss";

* {
  margin: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Times New Roman";
  text-decoration: none;
  color: $cWhite;
}

html {
  transition: font-size 0.25s;
}

body {
  background-color: $cOffWhiteBackground;
}

input, h1, select, option {
  color: black;
}

.hide {
  opacity: 0% !important;
  pointer-events: none !important;
  position: absolute !important;
  display: none;
}

.disable {
  filter: brightness(50%);
  pointer-events: none;
}

nav {
  @include Flex-Row(flex-start, center);
  width: 100vw;
  height: 10vh;
  background-color: $cHeader;
  font-size: 1.5em;
  position: fixed;
  z-index: $zNavbar;
  .nav-btn {
    @include Flex-Row(center, center, 18%, 100%);
    text-align: center;
    a {
      @include Flex-Row(center, center, 100%, 100%);
      transition: transform 0.39s, box-shadow 0.39s, background-color 0.39s;
      &:hover, &:focus {
        background-color: $cHighlightStrong;
        box-shadow: 4px 3px 22px 2px rgba(0,0,0, 0.5);
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.94);
      }
    }
  }
  .nav-highlight {
    border-bottom: 0.4em solid $cHighlightStrong;
    border-radius: 0.4em;
    margin-bottom: -0.4em;
  }
}

.nav-space {
  width: 100vw;
  height: 10vh;
}

.title-wrap {
  @include Flex-Row(center, center, 100vw, 10vh);
}

.btn {
  cursor: pointer;
  transition: filter 0.25s;
  padding: 0.4em 1em;
  font-size: 1.1em;
  border-radius: 1em;
  background: $cHighlightSoft;
}
.btn:hover {
  filter: brightness(115%);
}
.btn:active {
  transform: scale(0.94);
  transform: translateY(5%);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.text-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.1em;
}

input {
  text-indent: 10%;
  border-radius: 1em;
  font-size: 1.2rem;
}

select {
  border-radius: 0.3em;
  font-size: 1.2em;
}
// <section></section> outside of <main></main>
.screen-tint {
  width: 100vw;
  height: 100vh;
  display: initial;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: $zScreenTint;
  transition: opacity 0.3s, background-color 0.3s;
}
// applies to main
.unclickable {
  pointer-events: none;
  filter: blur(0.2em);
}

.err-input {
  border: 0.2em solid $cWarning;
  box-shadow: 0 0 0.1em 0.1em $cWarning;
}

.err {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7em;
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
  background-color: $cTableRow;
  transition: opacity 0.3s;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em grey;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: $cHeader;
  border-radius: 0.5em;
}
