@import "_library.scss";

* {
  margin: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Times New Roman";
  text-decoration: none;
  color: $cWhite;
}

html {
  transition: font-size 0.25s;
}

body {
  background-color: $cBackground;
}

.background-img {
  @include WidthHeight(100vw, 100vh);
  z-index: $zBackground;
  position: absolute;
  pointer-events: none;
}

input, h1, select, option, textarea {
  color: black;
}

.hide {
  width: 1px !important;
  height: 1px !important;
  opacity: 0% !important;
  pointer-events: none !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.disable {
  filter: brightness(50%);
  pointer-events: none;
}

.no-js-warning {
  @include Flex-Row(center, center, 100vw, 100vh);
  background-color: black;
  position: fixed;
  z-index: 999;
}

// solution specific
nav {
  @include Flex-Col(center, flex-start, 15vw, 100vh);
  position: fixed;
  transition: left 0.25s;
  left: 0%;
  background-color: $cHighlightSoft;
  img {
    @include Img-Round(3rem);
    margin: 5vh 0vw;
  }
  .nav-item {
    @include Flex-Row(center, center, 100%, 10%);
    cursor: pointer;
    & :hover {
      background-color: $cHeader;
    }
    a {
      @include Flex-Row(center, center, 100%, 100%);
      transition: background-color 0.3s;
      color: $cHighlightSoftTextColor;
    }
  }
  .logout-btn-wrap {
    position: absolute;
    left: 15%;
    bottom: 5%;
    img {
      @include Img-Round(3rem);
      border-radius: 0rem;
      cursor: pointer;
    }
    button {
      background-color: transparent;
      border: none;
    }
  }
  .show-nav-btn {
    cursor: pointer;
    position: absolute;
    top: 0vh;
    right: 0vw;
    transition: transform 0.25s, right 0.25s;
  }
  .point-left {
    transform: rotate(90deg);
  }
  .point-right {
    transform: rotate(-90deg);
    right: -5vw;
  }
}
.hide-nav {
  left: -17vw;
}
.content-container {
  margin-left: 15vw;
  transition: margin 0.25s, width 0.25s;
}
/*
  nav {
  @include Flex-Row(flex-start, center);
  width: 100vw;
  height: 10vh;
  background-color: $cHeader;
  font-size: 1.5em;
  position: fixed;
  z-index: $zNavbar;
  .nav-btn {
    @include Flex-Row(center, center, 18%, 100%);
    text-align: center;
    a {
      @include Flex-Row(center, center, 100%, 100%);
      transition: transform 0.39s, box-shadow 0.39s, background-color 0.39s;
      &:hover, &:focus {
        background-color: $cHighlightStrong;
        box-shadow: 4px 3px 22px 2px rgba(0,0,0, 0.5);
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.94);
      }
    }
  }
  .nav-highlight {
    border-bottom: 0.4em solid $cHighlightStrong;
    border-radius: 0.4em;
    margin-bottom: -0.4em;
  }
}

.nav-space {
  width: 100vw;
  height: 10vh;
}
*/

// solution specific
.status-wrap {
  @include Flex-Row(center, center, auto, 100%);
  .Resolved {
    @include Confirmation(1.4em);
    margin: 0vh 0.5vw;
  }
  .Progressing {
    @include Neutral(1.4em);
    margin: 0vh 0.5vw;
  }
  .Rejected {
    @include Invalid(1.4em);
    margin: 0vh 0.5vw;
  }
  .Unaddressed {
    @include Neutral(1.4em);
    margin: 0vh 0.5vw;
    background-color: gray;
    div {
      border: none;
    }
  }
}

.title-wrap {
  @include Flex-Row(center, center, 100%, 10vh);
  padding: 5vh 0vw;
  // solution specific
  h1 {
    color: $cWhite;
  }
}

.btn {
  cursor: pointer;
  transition: filter 0.25s;
  padding: 0.4em 1em;
  font-size: 1.1em;
  border-radius: 1em;
  background: $cHighlightSoft;
}
.btn:hover {
  filter: brightness(115%);
}
.btn:active {
  transform: scale(0.94);
  transform: translateY(5%);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.text-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.1em;
}

input {
  text-indent: 10%;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}

input[type="date"] {
  text-indent: 5%;
}

textarea {
  border-radius: 0.4rem;
  resize: none;
  padding: 0.3rem;
}

select {
  border-radius: 0.3em;
  font-size: 1.2em;
}
// <section></section> outside of <main></main>
.screen-tint {
  width: 100vw;
  height: 100vh;
  display: initial;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: $zScreenTint;
  transition: opacity 0.3s, background-color 0.3s;
}
// applies to main
.unclickable {
  pointer-events: none;
  filter: blur(0.2em);
}

.err-input {
  border: 0.2em solid $cWarning;
  box-shadow: 0 0 0.1em 0.1em $cWarning;
}

.err {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7em;
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
  background-color: $cTableRow;
  transition: opacity 0.3s;
  pointer-events: none;
}

.confirmation-wrap {
  @include Flex-Col(center, center, 24vw, 30vh);
  background-color: $cAccBackground;
  box-shadow: 0 0 0.2em 0.2em $cAccBackground;
  border-radius: 0.6em;
  margin: 0vh auto;
  span {
    font-size: 1.2em;
    width: 80%;
    text-align: center;
  }
  .confirmation {
    @include Confirmation(6em);
    margin-top: 4vh;
  }
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em grey;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: $cHeader;
  border-radius: 0.5em;
}

@media (max-width: $bmaxMobileSmall) {
  html{ font-size: 10px; }
}
@media (min-width: $bminMobileMedium) and (max-width: $bmaxMobileMedium) {
  html{ font-size: 11px; }
}
@media (min-width: $bminMobileLarge) and (max-width: $bmaxMobileLarge) {
  html { font-size: 11px; }
}
@media (min-width: $bminTablet) and (max-width: $bmaxTablet) {
  html{ font-size: 11px; }
}
@media (min-width: $bminLaptop) and (max-width: $bmaxLaptop) {
  html{ font-size: 12px; }
}
@media (min-width: $bminLaptopLarge) and (max-width: $bmaxLaptopLarge) {
  html{ font-size: 15px; }
}
@media (min-width: $bmin4k) {
  html{ font-size: 32px; }
}

// hide mobile html
@media (min-width: $bminLaptop) {
  .mobile-ele {
    @include Hide();
  }
}
