@import "_library.scss";

// =========================================================== General Styles ===========================================================

* {
  margin: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Times New Roman";
  text-decoration: none;
  color: $cWhite;
  -webkit-tap-highlight-color: transparent;
}

html {
  transition: font-size 0.25s;
}

body {
  background-color: $cBackground;
}

// =========================================================== Utility ===========================================================

.hide {
  width: 1px !important;
  height: 1px !important;
  opacity: 0% !important;
  pointer-events: none !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.disable {
  filter: brightness(50%);
  pointer-events: none;
}

// =========================================================== Table Styles ===========================================================

.status-wrap {
  @include Flex-Row(center, center, auto, 100%);
  .Resolved {
    @include Confirmation(1.4rem);
    margin: 0vh 0.5vw;
  }
  .Progressing {
    @include Neutral(1.4rem);
    margin: 0vh 0.5vw;
  }
  .Rejected {
    @include Invalid(1.4rem);
    margin: 0vh 0.5vw;
  }
  .Unaddressed {
    @include Neutral(1.4rem);
    margin: 0vh 0.5vw;
    background-color: gray;
    div {
      border: none;
    }
  }
}

// =========================================================== Confirmations ===========================================================

.confirmation-wrap {
  @include Flex-Col(center, center, 24vw, 30vh);
  background-color: $cAccBackground;
  box-shadow: 0 0 0.2rem 0.2rem $cAccBackground;
  border-radius: 0.6rem;
  margin: 0vh auto;
  span {
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
  }
  .confirmation {
    @include Confirmation(6rem);
    margin-top: 4vh;
  }
}

// =========================================================== Element Styles ===========================================================

input, h1, select, option, textarea {
  color: black;
}

input {
  text-indent: 10%;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}

input[type="date"] {
  text-indent: 5%;
}

textarea {
  border-radius: 0.4rem;
  resize: none;
  padding: 0.3rem;
}

select {
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

// =========================================================== Dropdown With Custom Option ===========================================================

.custom-dropdown-input-wrap {
  position: relative;
  .custom-dropdown-arrow {
    @include Img-Round(0.65rem);
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

// =========================================================== Button Styles ===========================================================

.btn-wrap {
  @include Flex-Row(center, center, 100%, initial);
  a, button, input[type=submit] {
    margin: 0vh 1vw;
  }
}
.btn {
  cursor: pointer;
  transition: filter 0.25s;
  padding: 0.4rem 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  background: $cHighlightSoft;
  border-style: unset;
  box-shadow: 1px 2px 1px 1px black;
}
.btn:hover {
  filter: brightness(120%);
}
.btn:active {
  transform: scale(0.94);
  transform: translateY(5%);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.text-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.1rem;
  box-shadow: none;
}

.img-btn-wrap {
  position: relative;
  margin: 0.5vh 0vw;
  img {
    @include Img-Round(1.4rem);
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $zModal;
  }
  button {
    width: 130%;
    text-indent: 15%;
  }
}

// =========================================================== Error Handling ===========================================================

.input-validation-wrap {
  position: relative;
}

.err-input {
  border: 0.2rem solid $cWarning;
  box-shadow: 0 0 0.1rem 0.1rem $cWarning;
}

.err {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  background-color: $cTableRow;
  //transition: opacity 0.3s;
  pointer-events: none;
}

// =========================================================== Modals ===========================================================

// <section></section> outside of <main></main>
.screen-tint {
  width: 100vw;
  height: 100vh;
  display: initial;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: $zScreenTint;
  transition: opacity 0.3s, background-color 0.3s;
}
// applies to main
.unclickable {
  pointer-events: none;
  filter: blur(0.2rem);
}
/*
    <div class="close-btn" id="techIconCloseBtn">
      <div class="close-btn-wrap"><div></div><div></div></div>
    </div>
*/
.close-btn {
  @include WidthHeight(2vw, 2vw);
  margin: 0;
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;

  .close-btn-wrap {
    @include Flex-Row(center, center, 2vw, 2vw);
    border-radius: 2vw;
    position: relative;
    background-color: $cHeader;
    div {
      @include WidthHeight(0.2vw, 1.5vw);
      position: absolute;
      background-color: $cWhite;
    }
    div:first-of-type {
      transform: rotate(45deg);
    }
    div:nth-of-type(2) {
      transform: rotate(-45deg);
    }
  }
}

// =========================================================== Misc. ===========================================================

.title-wrap {
  @include Flex-Row(center, center, 100%, 10vh);
  padding: 5vh 0vw;
  // solution specific
  h1 {
    color: $cWhite;
  }
}

.no-js-warning {
  @include Flex-Row(center, center, 100vw, 100vh);
  background-color: black;
  position: fixed;
  z-index: 999;
}

.background-img {
  @include WidthHeight(100vw, 100vh);
  z-index: $zBackground;
  position: absolute;
  pointer-events: none;
}

// =========================================================== Scroll Bar ===========================================================

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem grey;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: $cHeader;
  border-radius: 0.5rem;
}

// =========================================================== Navigation Menu ===========================================================

.side-nav {
  @include Flex-Col(center, flex-start, 15vw, 100vh);
  position: fixed;
  transition: left 0.25s;
  left: 0%;
  background-color: $cHighlightSoft;
  img {
    @include Img-Round(3rem);
    margin: 5vh 0vw;
  }
  label {
    margin-bottom: 1vh;
  }
  .nav-item:first-of-type {
    margin-top: 1vh;
  }

  .nav-item {
    @include Flex-Row(center, center, 100%, 10%);
    cursor: pointer;
    & :hover {
      background-color: $cHeader;
    }
    a {
      @include Flex-Row(center, center, 100%, 100%);
      transition: background-color 0.3s;
      color: $cHighlightSoftTextColor;
    }
  }

  .nav-highlight {
    background-color: $cHeader;
  }

  .show-nav-btn {
    cursor: pointer;
    position: absolute;
    top: 0vh;
    right: 0vw;
    transition: transform 0.25s, right 0.25s;
  }
  .point-left {
    transform: rotate(90deg);
  }
  .point-right {
    transform: rotate(-90deg);
    right: -5vw;
  }
}

.hide-nav {
  left: -17vw;
}
.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  opacity: 0%;
}
.content-container {
  width: 84%;
  margin-left: 14vw;
  transition: margin 0.25s, width 0.25s;
}

.top-nav {
  @include Flex-Row(flex-start, center);
  width: 100vw;
  height: 10vh;
  background-color: $cHeader;
  font-size: 1.5rem;
  position: fixed;
  z-index: $zNavbar;

  .nav-item {
    @include Flex-Row(center, center, 18%, 100%);
    text-align: center;
    a {
      @include Flex-Row(center, center, 100%, 100%);
      transition: transform 0.39s, box-shadow 0.39s, background-color 0.39s;
      &:hover, &:focus {
        background-color: $cHighlightStrong;
        box-shadow: 4px 3px 22px 2px rgba(0,0,0, 0.5);
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.94);
      }
    }
  }

  .nav-highlight {
    border-bottom: 0.4rem solid $cHighlightStrong;
    border-radius: 0.4rem;
    margin-bottom: -0.4rem;
  }
}
.nav-space {
  width: 100vw;
  height: 10vh;
}

.mobile-nav {
  @include Flex-Col(center, flex-start, 100%, 100%);
  width: 100vw;
  height: 10vh;
  background-color: $cHeader;
  border: 1px solid black;
  font-size: 1.5rem;
  position: fixed;
  z-index: $zNavbar;
  transition: height 0.3s;

  img {
    @include Img-Round(3rem);
    margin: 1vh 0vw;
    transition: height 0.3s, font-size 0.3s;
  }
  label {
    margin-bottom: 1vh;
    transition: height 0.3s;
  }
  .nav-item:first-of-type {
    margin-top: 1vh;
  }

  .nav-item {
    @include Flex-Row(center, center, 100%, 100%);
    text-align: center;
    transition: opacity 0.3s, height 0.3s;
    a {
      @include Flex-Row(center, center, 100%, 100%);
      transition: transform 0.39s, box-shadow 0.39s, background-color 0.39s, font-size 0.3s;
      &:hover, &:focus {
        background-color: $cHighlightSoft;
        box-shadow: 4px 3px 22px 2px rgba(0,0,0, 0.5);
        transform: scale(1.02);
      }
      &:active {
        transform: scale(0.94);
      }
    }
  }

  .nav-highlight {
    background-color: $cHighlightStrong;
  }

  .mobile-nav-btn {
    @include Flex-Row(flex-end, center, initial, 10vh);
    width: 100%;
    img {
      @include Img-Round(3rem);
      cursor: pointer;
      margin-right: 4vw;
    }
  }

  .squish-nav-item {
    height: 0px;
    min-height: 0px;
    font-size: 0px;
  }
}

.logout-btn-wrap {
  img {
    @include Img-Round(3rem);
    border-radius: 0rem;
    cursor: pointer;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

.was-content-container {
  width: 100% !important;
  margin: 0% !important;
}


// =========================================================== Media Queries ===========================================================

@media (max-width: $bmaxMobileSmall) {
  html{ font-size: 10px; }
}
@media (min-width: $bminMobileMedium) and (max-width: $bmaxMobileMedium) {
  html{ font-size: 11px; }
}
@media (min-width: $bminMobileLarge) and (max-width: $bmaxMobileLarge) {
  html { font-size: 11px; }
}
@media (min-width: $bminTablet) and (max-width: $bmaxTablet) {
  html{ font-size: 11px; }
}
@media (min-width: $bminLaptop) and (max-width: $bmaxLaptop) {
  html{ font-size: 12px; }
}
@media (min-width: $bminLaptopLarge) and (max-width: $bmaxLaptopLarge) {
  html{ font-size: 15px; }
}
@media (min-width: $bmin4k) {
  html{ font-size: 32px; }
}

// hide mobile html
@media (min-width: $bminLaptop) {
  .mobile-ele {
    @include Hide();
  }
}
