@{
  string content = (string)ViewData["_FileStructure"];
}

@if (string.IsNullOrEmpty(content))
{
  <div tabindex="0" class="fs-item dir root">
    <div class="dir-content fs-item">
      <img src="/Icons/FileDirectoryArrow.png" class="dir-btn">
      <img src="/icons/Folder.png">
      <label>Solution</label>
    </div>

    <div id="rootContainer" class="dir-container">
      <div tabindex="0" class="fs-item dir" draggable="true">
        <div class="dir-content fs-item">
          <img src="/Icons/FileDirectoryArrow.png" class="dir-btn">
          <img src="/icons/Folder.png">
          <label>NewDir</label>
        </div>

        <div class="dir-container">
          <div tabindex="0" class="fs-item file" draggable="true">
            <img src="/icons/File.png">
            <label>AAAA.cs</label>
          </div>
          <div tabindex="0" class="fs-item file" draggable="true">
            <img src="/icons/File.png">
            <label>BBBB.cs</label>
          </div>
        </div>
      </div>

      <div tabindex="0" class="fs-item dir" draggable="true">
        <div class="dir-content fs-item">
          <img src="/Icons/FileDirectoryArrow.png" class="dir-btn">
          <img src="/icons/Folder.png">
          <label>Other Dir</label>
        </div>

        <div class="dir-container">
          <div tabindex="0" class="fs-item file" draggable="true">
            <img src="/icons/File.png">
            <label>CCCC.cs</label>
          </div>
          <div tabindex="0" class="fs-item file" draggable="true">
            <img src="/icons/File.png">
            <label>DDDD.cs</label>
          </div>
        </div>
      </div>

      <div tabindex="0" class="fs-item file" draggable="true">
        <img src="/icons/File.png">
        <label>Program.cs</label>
      </div>
    </div>
  </div>
}
else
{
  <input type="hidden" id="receiveFileStructureData" value="@content" />
}
