@model SRS;

@{
	ViewData["Title"] = "Software Requirement Specification";
}

<script type="text/javascript" src="/js/SRS/SRS.js"></script>

<section id="SRSContent">
  <div class="title-wrap">
    <h1>Software Requirement Specification</h1>
  </div>

  <section>
    <input type="text" placeholder="domain name">
    <textarea type="text" placeholder="target demographic"></textarea>
    <textarea type="text" placeholder="description"></textarea>
  </section>
  <section>
    <div class="section-title">
      <h2>Tech Stack</h2>
      <a asp-controller="SRS" asp-action="TechStack"><img tabindex="0" class="edit-btn" src="/icons/Edit.png"></a>
    </div>
    <div class="tech-stack-wrap">
      <div>
        <label>Framework:</label>
        <span>ASP.NET 7</span>
      </div>
      <div>
        <label>Project Type:</label>
        <span>MVC</span>
      </div>
      <div>
        <label>Backend Language:</label>
        <span>C#</span>
      </div>
      <div>
        <label>Frontend Language:</label>
        <span>Javascript</span>
      </div>
      <div>
        <label>Source Control:</label>
        <span>Git</span>
      </div>
      <div>
        <label>Styling:</label>
        <span>Sass</span>
      </div>
      <div>
        <label>Client-Side Validation:</label>
        <span>Jquery</span>
      </div>
      <div>
        <label>Database:</label>
        <span>SMSS</span>
      </div>
      <div>
        <label>UI Design:</label>
        <span>Figma</span>
      </div>
      <div>
        <label>Deployment:</label>
        <span>Smarter ASP.NET</span>
      </div>
    </div>
  </section>
  <section>
    <div class="section-title">
      <h2>File Structure</h2>
      <a asp-controller="SRS" asp-action="FileStructure"><img tabindex="0" class="edit-btn" src="/icons/Edit.png"></a>
    </div>
    <span>When this view is finalized, the html and styles will be ported over.</span>
  </section>
  <section>
    <div class="section-title">
      <h2>Color Palette</h2>
      <a asp-controller="SRS" asp-action="ColorPalette"><img tabindex="0" class="edit-btn" src="/icons/Edit.png"></a>
    </div>

    <div class="color-data-wrap">
      <div style="background-color: #143419;"></div>
      <label>#143419</label>
    </div>
    <div class="color-data-wrap">
      <div style="background-color: #143419;"></div>
      <label>#143419</label>
    </div>
    <div class="color-data-wrap">
      <div style="background-color: #143419;"></div>
      <label>#143419</label>
    </div>
  </section>
  <section>
    <div class="section-title">
      <h2>Models and Validation</h2>
      <a asp-controller="SRS" asp-action="ModelsAndValidation"><img tabindex="0" class="edit-btn" src="/icons/Edit.png"></a>
    </div>
    <div class="model-wrap">
      <label>[ModelName]</label>
      <span>[PropType] [PropertyName]</span>
      <p>[Validation0]</p>
      <p>[Validation2 is longer]</p>
      <p>[Validation3]</p>
    </div>
    <div class="model-wrap">
      <label>[ModelName]</label>
      <span>[PropType] [PropertyName]</span>
      <p>[Validation0]</p>
      <p>[Validation2 is longer]</p>
      <p>[Validation3]</p>
      <span>[PropType] [PropertyName]</span>
      <p>[Validation0]</p>
      <p>[Validation2 is longer]</p>
      <p>[Validation3]</p>
      <span>[PropType] [PropertyName]</span>
      <p>[Validation0]</p>
      <p>[Validation2 is longer]</p>
      <p>[Validation3]</p>
      <span>[PropType] [PropertyName]</span>
      <p>[Validation0]</p>
      <p>[Validation2 is longer]</p>
      <p>[Validation3]</p>
      <span>[PropType] [PropertyName]</span>
      <p>[Validation0]</p>
      <p>[Validation2 is longer]</p>
      <p>[Validation3]</p>
    </div>
    <div class="model-wrap">
      <label>[ModelName]</label>
      <span>[PropType] [PropertyName]</span>
      <p>[Validation0]</p>
      <p>[Validation2 is longer]</p>
      <p>[Validation3]</p>
    </div>
  </section>
</section>
