@import "../_library.scss";

#newStoryContent {
  .input-wrap {
    @include Flex-Col(flex-start, center, 65vw, 100%);
    margin: 2vh auto;
    input[type=text] {
      width: 19vw;
      text-indent: 5%;
      transition: width 0.3s;
      @media (max-width: $bmaxMobileLarge) {
        width: 38vw;
      }
      @media (min-width: $bmaxMobileLarge) and (max-width: $bmaxTablet) {
        width: 28vw;
      }
    }
    textarea {
      @include WidthHeight(100%, 12vh);
      resize: vertical;
    }
  }
  .btn-wrap {
    @include Flex-Row(center, center, 100%, 100%);
    margin-top: 2vh;
    .btn {
      margin: 0vh 1vw;
    }
  }
}
