@import "../_library.scss"; 
 
#timeTrackerContent {
  .time-tracker-control-panel {
    @include Flex-Row(flex-start, center, 100%, 10%);
    margin-bottom: 4vh;
    .img-btn-wrap {
      margin-left: 10%;
      img {
        z-index: $zStickyThead;
      }
    }
  }

  .stopwatch {
    @include Flex-Col(center, center, 25vw, 50vh);
    background-image: linear-gradient(to top left, $cHighlightSoft, #222740);
    border-radius: 1rem;
    transition: width 0.3s, height 0.5s;
    margin: 5vh auto; // temp

    .btn-bar {
      @include Flex-Row(center, center, 100%, 5vh);
      .left {
        @include Flex-Row(flex-start, center, 100%, 100%);
        label {
          text-align: center;
          margin-left: 0.4vw;
          transition: 0.3s;
        }
        img {
          transition: opacity 0.3s;
        }
      }
      .right {
        @include Flex-Row(flex-end, center, 100%, 100%);
        img:nth-of-type(2) {
          margin-right: 8%;
        }
      }
      img {
        @include Img-Round(2rem);
        margin: 0vh 0.4vw;
        cursor: pointer;
      }
    }

    .name {
      @include Flex-Row(center, center, 100%, 5vh);
      text-align: center;
    }

    .history-wrap {
      @include Flex-Col(center, center, 100%, 5vh);
      margin-bottom: 1vh;
      transition: height 0.5s;
      .history-title {
        @include Flex-Row(center, center, 100%, 5vh);
        .history-arrow {
          @include Img-Round(2.2rem);
          transition: transform 0.4s;
        }
        .downward-arrow {
          transform: rotate(90deg);
        }
      }
      .table-wrap {
        @include TableWrap(85%, 0vh, $cTableRow, $cTableRowOff, $cHeader, $cHighlightStrong);
        transition: height 0.5s;
        thead { // prevent hover effect from showing behind the tr in thead
          tr:nth-of-type(1) {
            background-color: $cHeader !important;
          }
        }
      }
      img {
        @include Img-Round(1.4rem);
        cursor: pointer;
      }
    }

    .timer-img-wrap {
      @include Flex-Row(center, center, 100%, 24vh);
      transition: height 0.5s;
      img {
        @include WidthHeight(50%, 100%);
        border-radius: 0.4rem;
      }
    }

    .time-wrap {
      @include Flex-Row(center, center, 100%, 4vh);
      text-align: center;
    }

    .btn-wrap {
      height: 5vh;
      margin-bottom: 1vh;
      button {
        background-color: $cHeader;
      }
    }
  }
  // mobile
  @media (max-width: $bmaxTablet) {
    .stopwatch {
      width: 90vw;
    }
  }
}

.del-stopwatch-modal {
  @include Modal(25vw, 25vh, $cTableRow);
  background-image: linear-gradient(to bottom right, $cTableRow, #393a41);
  transition: width 0.25s;
  h3 {
    width: 90%;
    margin: 2vh 0vw;
  }
}

.del-shift-modal {
  @include Modal(20vw, 20vh, $cTableRow);
  background-image: linear-gradient(to bottom right, $cTableRow, #393a41);
  transition: width 0.25s;
  .btn-wrap {
    flex-direction: column;
    div {
      @include Flex-Row(center, center, initial, initial);
      transition: opacity 0.3s;
      margin: 1vh 0vw;
      img {
        @include Img-Round(2rem);
        cursor: pointer;
        margin: 0vh 1vw;
      }
    }
  }
}

.edit-shift-modal {
  @include Modal(40vw, 40vh, $cTableRow);
  background-image: linear-gradient(to bottom right, $cTableRow, #393a41);
  transition: width 0.25s;
  h3 {
    width: 90%;
    margin: 1vh 0vw;
  }
  .date-wrap {
    margin: 1vh 0vw;
  }
  .clock-in-out-wrap {
    @include Flex-Row(center, center, initial, initial);
    margin: 1vh 0vw;
  }
  .time-input-wrap {
    @include Flex-Col(center, center, initial, initial);
    margin: 0vh 2vw;
  }
  .btn-wrap {
    margin: 1vh 0vw;
  }
}
