@import "../_library.scss"; 
 
#timeTrackerContent {
  .time-tracker-control-panel {
    @include Flex-Row(center, center, 100%, 10%);
    margin-bottom: 4vh;
  }

  .stopwatch {
    @include Flex-Col(center, center, 25vw, 50vh);
    background-color: $cHeader;
    border-radius: 1rem;
    transition: width 0.3s, height 0.5s;
    margin: 5vh 5vw; // temp

    .btn-bar {
      @include Flex-Row(center, center, 100%, 5vh);
      .left {
        @include Flex-Row(flex-start, center, 100%, 100%);
        label {
          text-align: center;
          margin-left: 0.4vw;
          transition: 0.3s;
        }
        img {
          transition: opacity 0.3s;
        }
      }
      .right {
        @include Flex-Row(flex-end, center, 100%, 100%);
      }
      img {
        @include Img-Round(2rem);
        margin: 0vh 0.4vw;
        cursor: pointer;
      }
    }

    .name {
      @include Flex-Row(center, center, 100%, 5vh);
      text-align: center;
    }

    .history-wrap {
      @include Flex-Col(center, center, 100%, 5vh);
      transition: height 0.5s;
      .history-title {
        @include Flex-Row(center, center, 100%, 5vh);
        .history-arrow {
          @include Img-Round(2.2rem);
          transition: transform 0.4s;
        }
        .downward-arrow {
          transform: rotate(90deg);
        }
      }
      .table-wrap {
        @include TableWrap(85%, 0vh, $cTableRow, $cTableRowOff, $cHeader, $cHighlightStrong);
        transition: height 0.5s;
      }
      img {
        @include Img-Round(1.4rem);
        cursor: pointer;
      }
    }

    .timer-img-wrap {
      @include Flex-Row(center, center, 100%, 25vh);
      img {
        @include WidthHeight(50%, 100%);
        border-radius: 0.4rem;
      }
    }

    .time-wrap {
      @include Flex-Row(center, center, 100%, 5vh);
      text-align: center;
    }

    .btn-wrap {
      height: 5vh;
    }
  }
}

.del-stopwatch-modal {
  @include Modal(30vw, 30vh, $cTableRow);
  background-color: $cTableRow;
  transition: width 0.25s;
  h3 {
    margin: 2vh 0vw;
  }
}

.del-shift-modal {
  @include Modal(30vw, 30vh, $cTableRow);
  background-color: $cTableRow;
  transition: width 0.25s;
  .btn-wrap {
    flex-direction: column;
    div {
      @include Flex-Row(center, center, initial, initial);
      img {
        @include Img-Round(2rem);
        cursor: pointer;
      }
    }
  }
}

.edit-shift-modal {
  @include Modal(30vw, 30vh, $cTableRow);
  background-color: $cTableRow;
  transition: width 0.25s;
}
